@model Planetzine.Models.Articles
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Planetzine</h1>
        <p>A sample app using Azure Cosmos DB</p>
        <p><img class="img-responsive" src="~/Images/news-1074604_1280.jpg"/></p>
        <h2>Latest articles</h2>
    </div>

@foreach (var article in Model.Items)
{
    <div class="well">
        <div class="media">
            <a class="pull-left" href="@Url.Action("View", new { article.ArticleId, article.Author })">
                <img class="media-object img-rounded" style="width:160px;" src="@article.ImageUrl"/>
            </a>
            <div class="media-body">
                <h3 class="media-heading"><a href="@Url.Action("View", new { article.ArticleId, article.Author })">@article.Heading</a></h3>
                <p>@article.Excerpt</p>
                <ul class="list-inline list-unstyled">
                    <li>&#x1F4C5; @article.PublishDateStr</li>
                    <li>&#x1F471; Written by <a href="@Url.Action("Index", new { author = article.Author })">@article.Author</a></li>
@foreach (var tag in article.Tags)
{
                    <li><a class="label label-info" href="@Url.Action("Index", new { tag })">@tag</a></li>
}
                </ul>
            </div>
        </div>
    </div>
}
</div>