@model Planetzine.Models.PerformanceTestModel
@{
    ViewBag.Title = "Performance Test";
}
<br />
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info">
        @Html.Raw(ViewBag.Message)
    </div>
}

<p>
    <img src="~/Images/speed-164063_640.jpg" class="img-responsive" style="width: 400px;" />
</p>

@if (Model != null)
{
    <h2>Test settings</h2>
    <table class="table table-striped">
        <tr>
            <td style="width: 50%;">NumberOfWritesPrimary</td>
            <td>@Model.NumberOfWrites</td>
        </tr>
        <tr>
            <td>NumberOfQueryResultsPrimary</td>
            <td>@Model.NumberOfQueryResults</td>
        </tr>
        <tr>
            <td>NumberOfRandomReadsPrimary</td>
            <td>@Model.NumberOfRandomReads</td>
        </tr>
        <tr>
            <td>NumberOfUpsertsPrimary</td>
            <td>@Model.NumberOfUpserts</td>
        </tr>
        <tr>
            <td>Parallelism</td>
            <td>@Model.Parallelism</td>
        </tr>
    </table>

    foreach (var result in Model.AllResults)
    {
        <h2>@result.Name results</h2>
        <table class="table table-striped">
            <tr>
                <td style="width: 50%;">Elapsed milliseconds</td>
                <td>@result.ElapsedMilliseconds</td>
            </tr>
            <tr>
                <td>Cost (RUs)</td>
                <td>@result.RUCost</td>
            </tr>
            <tr>
                <td>Documents per second</td>
                <td>@result.DocumentsPerSecond</td>
            </tr>
            <tr>
                <td>RUs per second</td>
                <td>@result.RUsPerSecond</td>
            </tr>
            <tr>
                <td>RUs per document</td>
                <td>@result.RUsPerDocument</td>
            </tr>
        </table>
    }
}

@using (Html.BeginForm())
{
    <h3>Test the performance and RU costs</h3>
    <p>
        Number of inserts: @Html.TextBox("NumberOfWrites", "500", new { width = "100px" })<br />
        Number of query results: @Html.TextBox("numberOfQueryResults", "500", new { width = "100px" })<br />
        Number of random reads: @Html.TextBox("numberOfRandomReads", "500", new { width = "100px" })<br />
        Number of upserts: @Html.TextBox("numberOfUpserts", "500", new { width = "100px" })<br />
        Parallelism: @Html.TextBox("parallelism", "10", new { width = "100px" })<br />
        <button type="submit" name="button" value="simulate" class="btn btn-success">Start</button>
    </p>
}
